@import url('../../ThirdParty/dojo-release-1.8.3-src/dijit/themes/tundra/tundra.css');
@import url('../../Source/Widgets/Dojo/CesiumViewerWidget.css');

.fullWindow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: sans-serif;
}

.activeOverlay {
    position: absolute;
    top: 6px;
    left: 6px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    color: cyan;
    font: bold 16px Sans-Serif;
}

.asteroidOverlay {
    display: none;
}

.rbsp {
    display: none;
}

.rbspOverlay {
    position: absolute;
    top: 16px;
    left: 6px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    color: white;
    font: 14px Sans-Serif;
}

.rbspaOverlay {
    position: absolute;
    bottom: 170px;
    left: 6px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    color: aqua;
    font: 14px Sans-Serif;
}

.rbspbOverlay {
    position: absolute;
    bottom: 110px;
    left: 6px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    color: yellow;
    font: 14px Sans-Serif;
}

.altitudeOverlay {
    position: absolute;
    top: 26px;
    left: 6px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    color: magenta;
    font: bold 16px Sans-Serif;
}

.closeOverlay {
    position: absolute;
    top: 46px;
    left: 6px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    color: white;
    font: bold 16px Sans-Serif;
}

.jplOverlay {
    position: absolute;
    bottom: 65px;
    right: 10px;
    margin: 0;
    overflow: hidden;
    color: white;
    background: rgba(42, 42, 42, 0.8);
    font-size: 12px;
    padding: 1px 2px;
    border-radius: 4px;
}

#viewButtonId {
    display: none;
}

.viewButton {
    position: absolute;
    top: 8px;
    right: 42px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    color: white;
}

#zoomID {
    display: none;
}

.zoomButton {
    position: absolute;
    top: 8px;
    right: 44px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}