@import	url('../../ThirdParty/dojo-release-1.8.3-src/dijit/themes/tundra/tundra.css');
@import url('../../Source/Widgets/Dojo/CesiumViewerWidget.css');

.fullWindow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: sans-serif;
}

.activeOverlay {
    position: absolute;
    top: 6px;
    left: 6px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    color:cyan;
    font: bold 16px Sans-Serif; 
}
.altitudeOverlay {
    position: absolute;
    top: 26px;
    left: 6px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    color:magenta;
    font: bold 16px Sans-Serif; 
}
.closeOverlay {
    position: absolute;
    top: 46px;
    left: 6px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    color:white;
    font: bold 16px Sans-Serif; 
}
.jplOverlay {
    position: absolute;
    bottom: 40px;
    right: 275px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    color:white;
    font: 12px Sans-Serif; 
}
.zoomButton {
    position: absolute;
    top: 50px;
    right: 6px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

