<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <staticContent>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <remove fileExtension=".czm"/>
      <mimeMap fileExtension=".czm" mimeType="application/json"/>
      <remove fileExtension=".czml"/>
      <mimeMap fileExtension=".czml" mimeType="application/json"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <remove fileExtension=".glsl"/>
      <mimeMap fileExtension=".glsl" mimeType="text/plain" />
    </staticContent>

  </system.webServer>
</configuration>